section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap:1px;
    padding:20px
}

.box{
    border-radius: 3px;
    flex-basis: 3.5%;

}

.box:nth-child(16n){
    border: 1px solid black;

}

.reset{
    background-color: rgb(6, 230, 238);
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    padding:5px 10px;
    margin:20px auto;
    display: block;
    transition: all 0.3s ease;
}

.reset:hover{
    background-color: rgb(3, 179, 185);
    color: white;
    cursor: pointer;
    transform: scale(1.05);
}

.reset:active{
    transform: scale(0.95);
}
